In [8]:
import warnings; warnings.filterwarnings("ignore")
from datetime import datetime, timedelta
import yfinance as yf

In [77]:
from rough_functions import * 
from new_functions import *

If needed, pull data

In [3]:
data = freshData()

Otherwise, you can read data from saved csv formatted files

In [30]:
data = readData()
data=data.drop(data[data['ticker'].isna()].index, axis=0)
print("Num. Obs. = "+str(len(data)))
print("Earliest Obs. = "+str(min(data['transaction_date'])))
print("Latest Obs. = "+str(max(data['transaction_date'])))

Num. Obs. = 23840
Earliest Obs. = 2012-06-19
Latest Obs. = 2022-12-31

Note that for this experiment the dataset will be static and include all filled reports from 2012 throught the end of 2022.

2827

In [78]:


yfdata, unavalible = end_of_day_data_builder(data['ticker'].unique())#[data['asset_type']=='Stock'] if you want to limit

[**********************86%****************       ]  2418 of 2820 completed

In [76]:
print(len(data))
data=data[data['ticker'] not in unavalible]
print(len(data))

,0QZI.IL,35G.SG,A,AA,AAGIY,AAIGF,AAL,AAN,AAON,AAPL,...,Z,ZBH,ZBRA,ZG,ZIMV,ZION,ZM,ZROZ,ZTS,ZUO
Date,,,,,,,,,,,,,,,,,,,,,
2012-06-19,NaN,NaN,26.926298,20.228376,12.195558,2.138841,11.972815,NaN,8.253546,18.039848,...,NaN,56.357307,32.799999,10.367945,NaN,16.999382,NaN,91.513054,NaN,NaN
2012-06-20,NaN,NaN,26.592575,20.273830,12.036023,2.138841,12.283921,NaN,8.166968,17.988562,...,NaN,56.152542,33.209999,10.445900,NaN,17.130352,NaN,92.594559,NaN,NaN
2012-06-21,NaN,NaN,25.597979,19.432875,11.672640,2.138841,12.698730,NaN,7.787687,17.740728,...,NaN,54.968422,32.310001,10.377300,NaN,16.571566,NaN,93.323410,NaN,NaN
2012-06-22,NaN,NaN,25.539082,19.591974,11.885349,2.164379,12.415906,NaN,7.800054,17.876774,...,NaN,56.241570,32.930000,10.289991,NaN,16.702528,NaN,91.301437,NaN,NaN
2012-06-25,NaN,NaN,24.642626,19.069221,11.610596,2.164379,11.925678,NaN,7.742339,17.528818,...,NaN,55.084156,32.400002,10.289991,NaN,16.108824,NaN,93.472328,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-27,NaN,42.799999,149.550003,44.860001,45.660000,10.930000,12.530000,11.35,76.900002,130.029999,...,32.500000,127.279999,251.000000,31.540001,8.34,48.840000,65.459999,88.709999,145.300003,5.84
2022-12-28,116.699997,43.599998,148.089996,43.799999,43.950001,10.950000,12.320000,11.32,75.599998,126.040001,...,31.290001,125.989998,246.839996,30.389999,8.50,47.970001,65.360001,87.709999,143.830002,5.90
2022-12-29,119.730003,42.799999,151.089996,46.560001,44.369999,10.780000,12.700000,11.80,76.849998,129.610001,...,31.969999,127.830002,257.529999,31.100000,9.23,49.080002,68.000000,88.720001,148.149994,6.40
2022-12-30,118.980003,43.400002,149.649994,45.470001,44.430000,11.100000,12.720000,11.95,75.320000,129.929993,...,32.209999,127.500000,256.410004,31.209999,9.34,49.160000,67.739998,87.320000,146.550003,6.36